
.Main-info-container{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 50%;
    margin-left: 20%;
    margin-top: 100px;
}
.info-container{
   /* margin: 15px;*/
    width: 600px;
    border-radius: 10px;
    color: white;
    border: 1px solid #363636;
    background-color: #000000;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    

    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;*/
}
.info-container:first-child{
    /*margin-top: 40px;*/
}
.info-container img{
    padding: 10px;
    border-radius: 10px;
    width: 350px;
}
.info-container h3{
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    font-size: 25px;
    margin-left: 10px;
    /* margin-top: -2px; */
    
}
.info-container p{
    padding: 10px;
    font-family: "roboto", "sans-serif";
    font-size: 14px;
    line-height: 18px;
    margin-top: -20px;
    letter-spacing: 1px;
}
.info-container button{
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 600;
}
.like{
    background-color: rgb(72, 177, 226);
}
.dislike{
    background-color: #f44444;
}