
.home{
    position: sticky;
    top: 100px;
    color: #f5f3ee;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60px;
    background-color: #b5b0b0;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 100px;


    
    
    
}
.info-container{
    margin: 15px;
    width: 650px;
    border-radius: 10px;
    color: white;
    border: 1px solid #363636;
    background-color: #000000;
    padding: 20px;
    

}
.info-container img{
    padding: 10px;
    border-radius: 10px;
    width: 350px;
}
.info-container h3{
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    font-size: 25px;
    margin-left: 10px;
    /* margin-top: -2px; */
    
}
.info-container p{
    padding: 10px;
    font-family: "roboto", "sans-serif";
    font-size: 14px;
    line-height: 18px;
    margin-top: -20px;
    letter-spacing: 1px;
}
.info-container button{
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 600;
}
.like{
    background-color: rgb(72, 177, 226);
}
.dislike{
    background-color: #f44444;
}
textarea{
    width: 300px;
    height: 60px;
    padding: 10px ;
    margin-top: 10px;
    border-radius: 30px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1.5px;
}
.comment-area{
    display: flex;
    flex-direction: column;
}
.comment-area button{
    width: fit-content;
    padding: 15px;
    color: aliceblue;
    background-color: #363636;
}
.comment-text{
    width: fit-content;
    background-color: #898887;
    color: #f5f3ee;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
    letter-spacing: 1.5px;
}