<<<<<<< HEAD
.info-container{
    margin: 10px;
    width: 600px;
    border-radius: 10px;
    color: white;
    overflow-y: scroll;
    border-bottom: 2px solid white;
    
    
    

}
=======
>>>>>>> 620b89255b888dad8c95a41312f272b6eabc22fd
.Main-info-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 50%;
    margin-left: 19.8%;
    margin-top: 100px;
}
.info-container{
    margin: 10px;
    width: 600px;
    border-radius: 10px;
    color: white;
    /* overflow-y: scroll;  */
}
.info-container > img{
    padding: 10px;
    border-radius: 10px;
    width: 300px;
}
.info-container > h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-left: 10px;
    
}
.info-container > p{
    margin: 10px;
}
.info-container > button{
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    
}
.like{
    background-color: rgb(72, 177, 226);
}
.dislike{
    background-color: rgb(204, 100, 100);
}