.main-content{
    background-color: #8b8585;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 50%;
    margin-left: 20%;
    margin-top: 100px;
    padding-left: 10px;
    height: 100%;
}