.contact-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-bottom: 2px solid black;

}
.contact-card >img{
    border-radius: 50px;
    margin-top: 20px;
}