.right-section{
    position: fixed;
    right: 0;
    height: 100%;
    width: 30%;
    background-color: #121212;
    justify-content: center;
    color: white;
    margin-top: 100px;
    overflow-y: scroll;
    /* border: 2px solid orange */

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}