.right-section{
    position: sticky;
    right: 0;
    /* height: 100%; */
    /* width: 30%;  */
    /* background-color: #000000;
    color: white;*/
    margin-top: 100px;
    height: 100vh;
    overflow-y: scroll;
    
    /* border: 2px solid orange; */



    display: flex;
    flex-direction: column;
    justify-content: baseline;
    flex-wrap: nowrap;
    /* align-items: center; */
}
::-webkit-scrollbar {
    display: none;
  }